<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="apextechies.makkahmadinalive">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name="apextechies.MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="apextechies.makkahmadinalive.SplashScreen"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name="apextechies.makkahmadinalive.VideoStreamActivity"/>
        <activity android:name="apextechies.makkahmadinalive.ui.SignUp"/>
        <activity android:name="apextechies.makkahmadinalive.MainActivity"
        android:theme="@style/MyMaterialTheme">

        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/admob_app_id"/>

    </application>

</manifest>